* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ffffff;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.h1-container {
    flex: 1;
    background-color: #8151fa;
    display: flex;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.nav-bar-item {
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    list-style: none;
    margin-right: 10%;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: #8151fa;
    padding: 30%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-item a:hover {
    text-decoration: none;
    background-color: #8151fa;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contenido {
    display: flex;
    margin: 50px;
}

.carrusel {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.carrusel img {
    display: block;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.btn-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.btn-carrusel:hover {
    background-color: rgba(129, 81, 250, 0.7);
}

#boton-izquierda {
    left: 10px;
}

#boton-derecha {
    right: 10px;
}


#formulario-contacto {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: #8151fa;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

form label {
    display: block;
    margin-bottom: 6px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

input,
textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.btn-formulario {
    width: 100%;
    background-color: #8151fa;
    margin-top: 5px;
    border-radius: 8px;
    color: white;
    padding: 12px;
    border: 2px solid;
    font-size: 14px;
}

.btn-formulario:hover {
    background-color: white;
    color: #8151fa;
    cursor: pointer;

}

.mensaje-exito {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 35px;
}

.lista-datos {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 19px;
}
.productos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 40px auto;
    max-width: 1000px;
    padding: 0 20px;
    align-items: center;
}

.producto {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.producto.invertido {
    flex-direction: row-reverse; 
}

.descripcion {
    max-width: 450px;
    font-family: Arial, sans-serif;
}

.descripcion h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.descripcion p {
    margin: 6px 0;
    line-height: 1.5;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}