* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ffffff;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.h1-container {
    flex: 1;
    background-color: #8151fa;
    display: flex;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.nav-bar-item {
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    list-style: none;
    margin-right: 10%;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: #8151fa;
    padding: 30%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-item a:hover {
    text-decoration: none;
    background-color: #8151fa;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contenido {
    display: flex;
    margin: 50px;
}

.carrusel {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.carrusel img {
    display: block;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.btn-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.btn-carrusel:hover {
    background-color: rgba(129, 81, 250, 0.7);
}

#boton-izquierda {
    left: 10px;
}

#boton-derecha {
    right: 10px;
}

form {
    background-color:  #8151fa;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}


h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 40px;
   
}

label {
    display: block;
    margin-bottom: 6px;
    color: #0e0d0d;
    font-size: 20px;
    font-weight: 500;
}

input, textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 4px rgba(74,144,226,0.3);
}

button {
    width: 100%;
    background-color:  white;
    margin-top: 5px;
    color: black;
   border-radius: 8px;
    padding: 12px;
    font-size: 20;
   
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}